.collapse{
    float: right !important;
    margin-left: 50% !important;
}
nav img{
    max-width: 270px;
    max-height: 150px;
}
nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar{
    background-color: rgba(255,255,255,.2) !important;
}   